@charset "UTF-8";

@font-face {
  font-family: "kt";
  src: url("./font/kt.ttf");
}

body {
  font-family: "kt";
  margin-left: 3%;
}

a {
  text-decoration: none;
  color: #000;
}

ul li {
  display: inline-block;
  list-style: none;
  padding-right: 15px;
}
li a:hover {
  opacity: 0.5;
}

canvas {
  display: none;
}

progress {
  background-color: #fff;
  border: none;
  border-radius: 10px;
}
progress::-webkit-progress-bar {
  border-radius: 10px;
  background-color: #fff;
}
progress::-webkit-progress-value {
  border-radius: 10px;
  background-color: #55ddff;
}
progress::-moz-progress-bar {
  border-radius: 10px;
  background-color: #55ddff;
}

.header {
  margin-top: 20px;
  margin-right: 3%;
  text-align: right;
}

.title {
  font-size: 3em;
  border-bottom: 2px solid #55ddff;
  width: 97%;
  margin-top: -10px;
}

.uidBox {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
#form {
  display: flex;
  height: 50px;
  width: 280px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #00000075;
  margin-left: 20px;
}
#uid {
  font-family: "kt";
  font-size: 1.01em;
  width: 200px;
  padding: 0 15px;
  border-radius: 5px 0 0 5px;
  border: #55ddff 3px solid;
  outline: 0;
}
#btn {
  width: 50px;
  border-radius: 0 5px 5px 0;
  background: #55ddff;
  border: none;
  color: #fff;
  cursor: pointer;
}
#btn:hover {
  opacity: 0.5;
}
.search {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 3px solid #fff;
  border-radius: 50%;
  position: relative;
  top: -2px;
  left: -5px;
}
.search::after {
  content: "";
  display: inline-block;
  transform: rotate(-55deg);
  position: relative;
  background: #fff;
  width: 3px;
  height: 13px;
  top: 10px;
  left: 13px;
}
.locked {
  opacity: 0.5;
}

#countdownCircle {
  display: none;
}
.circle-wrapper {
  width: 50px;
  height: 50px;
  margin-left: 12px;
}

svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}
circle {
  fill: none;
  stroke-width: 6;
}
.bg {
  stroke-width: 7px;
  stroke: #ddd;
}
.fg {
  stroke: #55ddff;
  stroke-width: 7px;
  stroke-dasharray: 283;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
}
.count-text {
  position: absolute;
  top: 19.4%;
  left: 21.6%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #333;
  pointer-events: none;
}

#char {
  margin: 10px;
  margin-left: 40px;
  margin-top: 30px;
}

.char-wrapper {
  display: inline-block;
  margin: 4px;
}

.char_img {
  width: 120px;
  background: #d3d3d3;
  border: #fff 4px solid;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #00000075;
}
.selected .char_img {
  position: relative;
  border: #55ddff 4px solid;
  top: -10px;
}
.char_img:hover {
  opacity: 0.5;
}

.card-img {
  width: 58%;
  border-radius: 5px;
  margin-left: 45px;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.spinner-box {
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px #00000083;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spinner {
  border: 8px solid #55ddff;
  border-radius: 50%;
  border-right: 8px solid #ffffff;
  width: 20px;
  height: 20px;
  animation: spin 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  margin-bottom: 20px;
}
#progress {
  width: 80%;
  height: 8px;
  appearance: none;
  overflow: hidden;
  margin-left: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  .header {
    display: none;
  }

  .title {
    font-size: 2.5em;
    border-bottom: 2px solid #55ddff;
    width: 97%;
    margin-top: 20px;
  }

  #char {
    margin: 10px;
    margin-left: 20px;
    margin-top: 30px;
  }

  .char_img {
    width: 70px;
  }
  .char_img:hover {
    opacity: 0.5;
  }

  .card-img {
    width: 88%;
    border-radius: 5px;
    margin-left: 20px;
  }
}
